<div class="recipes-container">
  <div class="recipes-holder-show center">
    <div class="recipe-info">
      <h2><%= @recipe.name %></h2>
    </div>
    <div class="recipe-details">
      <div class="left-details">
        <p>Preparation Time: <%= @recipe.preparation_time %><p>
        <p>Cooking Time: <%= @recipe.cooking_time %><p>
        <p>Instructions: <%= @recipe.description %> <p>
      </div>
      <div class="right-details">
        <p>Public <%= check_box_tag (:id_name) %></p>
      </div>
    </div>
    <div class="recipe-buttons">
      <button class="left-btn btn"><%= link_to 'Generate Shopping List', general_shopping_list_index_path %></button>
      <button class="right-btn btn"><%= link_to "Add Ingredients", new_recipe_recipe_food_path(@recipe) %></button>
    </div>
    <div class="table-data">
      <table>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Value</th>
          <th>Action</th>
        <tr>
        <% @recipe_foods.each do |recipe_food| %>
          <tr>
            <td><%= recipe_food.food.name %></td>
            <td><%= recipe_food.quantity %></td>
            <td>$ <%= (recipe_food.food.price * recipe_food.quantity) %></td>
            <td class="flex-items">
              <%= button_to "Remove", recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete %>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>